body{
    background-color: orange;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: lime;
    
}

p{
    color: white;
}

#para{
    color: green;

}

p span{
    color: black;
    font-size: larger;
}

a[href*="upskillmafia"]{
    background-color: yellow;
}

a[href*="google"]{
    background-color: rgb(27, 132, 168);
}
