*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding:20px;
    
}


nav{
    display:flex;
    
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    font-size: large;
}

.links{
    display:flex;
    list-style:none;
    gap:20px;
}

.username{
    padding:8px 15px;
    border:none;
    background:#bce1f4;
    border-radius:8px;
}



.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 70px;
    gap: 40px;
}

.content{
    width:100%;
}

.content h1{
    font-size:45px;
}

.content span{
    color:#21a8ff;
}

.content p{
    margin:15px 0;
}

.content button{
    display: inline-block;
    padding:12px 25px;
    border:none;
    background:#21a8ff;
    color:white;
    border-radius:10px;
    font-size: 15px;
    margin-top: 28px;
}

.image img{
    width:350px;
    max-width: 100%;
}

@media (max-width: 768px){

    .logo{
        font-size:22px;
    }

    .links{
        gap:15px;
        font-size:14px;
    }

    .username{
        font-size:12px;
    }

    .hero{
        padding:40px 30px;
    }

    .content h1{
        font-size:32px;
    }

    .content p{
        font-size:14px;
    }

    .image img{
        width:280px;
    }
}

@media (max-width:600px){

    .links{
        display:none;
    }

    .hero{
        flex-direction:column;
        align-items:flex-start;
        padding:30px 20px;
    }

    .content{
        width:100%;
    }

    .content h1{
        font-size:26px;
    }

    .content p{
        font-size:14px;
    }

    .content button{
        width:auto;
        font-size:14px;
    }

    .image{
        width:100%;
        display:flex;
        justify-content:center;
    }

    .image img{
        width:260px;
    }
}
