*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10;
}

.container{
    width: 900px;
    height: 500px;
    display: flex;
    box-shadow: 0 0 10px;
}

.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 500px;
}

.right{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 10px;

}

.right h2{
    text-align: center;
}

.right p{
    text-align: center;
    
    margin-bottom: 10px;
}

.right a{
    text-align: right;
    font-size: 1;

}

input{
    padding: 10px;
    background: rgba(251, 251, 251, 0.683);
    border: 1px solid rgb(11, 11, 11);
    
}

button{
    padding: 12px;
    background: rgb(30, 103, 228);
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover{
    background: green;
}
